// Colors

$white:  #fff;
$black:  #313131;
$green:  #00ba90;
$beige:  #f2f2ea;

$gray-1: #f5f6f7;
$gray-2: #e4e5e6;

// Fonts

$source-sans-pro: 'source-sans-pro', $helvetica;
$museo: 'museo', $helvetica;


// Z-index

$zindex-message-form: 2000;
$zindex-navbar: 30;
$zindex-conversation: 20;
$zindex-summary: 20;

