.header {
  @include clearfix;
  position: fixed;
  left: 0;
  top: 0;
  z-index: $zindex-header;
  width: 100%;
  background-color: tint($black, 5%);
  color: $white;
}

.header-logo {
  float: left;
  @include hide-text;
  background: image-url('logo.png') no-repeat center center;
  width: 116px;
  height: 28px;
  margin: 25px 30px;
}

.header-search {
  float: right;
  margin: 20px;
  position: relative;

  input {
    border: 1px solid rgba($white, 0.1);
    background-color: transparent;
    font-size: em(12);
    height: 18px;
    width: 220px;
    line-height: 18px;
    padding: 9px 15px;
    border-radius: 20px;
    outline: 0;
    color: $white;
    @include transition(all 0.2s);

    &:hover {
      border-color: rgba($white, 0.2);
    }

    &:focus {
      width: 320px;
      border-color: rgba($white, 0.3);
    }
  }

  .icon {
    position: absolute;
    right: 0;
    top: 0;
    color: rgba($white, 0.5);
    cursor: pointer;
    padding: 11px;

    &:hover {
      color: $white;
    }
  }
}

.header-account {
  float: right;
  line-height: 78px;
  padding: 0 20px;
  background-color: $black;
  font-weight: 600;
  color: rgba($white, 0.8);

  img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    border: 5px solid $black;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba($white, 0.1);
  }
}

.header-actions {
  float: right;
  line-height: 78px;
  padding: 0 15px 0 20px;

  .icon {
    color: rgba($white, 0.5);
    border: 1px solid rgba($white, 0.1);
    padding: 12px;
    border-radius: 50%;
    margin: 0 5px 0 0;
    @include transition(all 0.2s);

    &:hover {
      color: rgba($white, 0.8);
      border-color: rgba($white, 0.3);
    }
  }
}