.navbar {
  @include box-sizing(border-box);
  position: fixed;
  left: 0;
  top: 0;
  z-index: $zindex-navbar;
  width: 280px;
  height: 100%;
  background-color: tint($black, 5%);
  color: $white;
}

.navbar-logo {
  background-color: $black;
  padding: 20px 25px;

  a {
    display: block;
    @include hide-text;
    background: image-url('logo.png') no-repeat center center;
    width: 141px;
    height: 27px;
  }
}

.navbar-search {
  position: absolute;
  right: 25px;
  top: 26px;
}

.navbar-main-action {
  padding: 20px 15px;
  border-bottom: 1px solid $black;

  .button {
    display: block;

    .icon {
      float: right;
      margin: 1px 0 0 0;
    }
  }
}

.navbar-title {
  position: relative;

  a {
    display: block;
    padding: 5px 20px;
    background-color: rgba($black, 0.5);
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    @include transition(all 0.2s);
    color: rgba($white, 0.5);
    text-transform: uppercase;
    font-size: em(10);
    font-weight: 500;
    letter-spacing: 1px;
  }

  .icon {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 9px;
    cursor: pointer;
    color: rgba($white, 0.5);
    @include transition(all 0.2s);

    &:hover {
      color: $white;
    }
  }
}

.navbar-list-item {
  border-bottom: 1px solid $black;

  a {
    display: block;
    position: relative;
    padding: 10px 20px;
    font-size: em(12);
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white;
    @include transition(all 0.2s);

    &:hover, &.active {
      background-color: $black;
    }
  }
}

.navbar-account {
  @include box-sizing(border-box);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $black;
  padding: 22px 25px;
  font-size: em(14);
  font-weight: 600;
  color: rgba($white, 0.4);

  img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    border: 5px solid $black;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba($white, 0.1);
  }

  .icon {
    position: absolute;
    right: 20px;
    top: 26px;
  }
}
