# Fill in your AWS Access Key ID and Secret Access Key
# http://aws.amazon.com/security-credentials
aws: &aws
  access_key_id: ACCESS_KEY
  secret_access_key: SECRET_KEY

development: &development
  <<: *aws

production: &production
  <<: *aws

test: &production
  <<: *aws
