postgresql: &postgresql
  adapter: postgresql
  host: 127.0.0.1
  port: 5432
  encoding: unicode
  database:
  username: postgres
  password:
  timeout: 5000
  pool: 30

production: &production
  <<: *postgresql
  database: founden

development:
  <<: *postgresql
  database: founden

test:
  <<: *postgresql
  database: founden_test<%= ENV['TEST_ENV_NUMBER'] %>
