postgresql: &postgresql
  adapter: postgresql
  encoding: unicode
  username: postgres
  password:
  timeout: 5000
  pool: 30

production: &production
  <<: *postgresql
  database: founden

development:
  <<: *postgresql
  database: founden

test:
  <<: *postgresql
  database: founden_test<%= ENV['TEST_ENV_NUMBER'] %>
