.attachments {
  @include clearfix;
  background-color: tint($beige, 50%);
  border-top: 1px solid $beige;
}

.attachments-title {
  font-size: em(18);
  font-weight: 600;
  padding: 15px 20px;
}

.attachment-file {
  float: left;
  margin: 20px 0 20px 20px;
  width: 172px;
  color: tint($black, 20%);
}

.attachment-file-icon {
  float: left;
  height: 36px;
  width: 30px;
  margin: 0 10px 0 0;
  border: 2px solid shade($beige, 20%);
  border-radius: 3px 0 3px 3px;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
}

.attachment-file-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: em(14);
  font-weight: 600;
}

.attachment-file-size {
  font-size: em(12);
  color: tint($black, 60%);
}

.attachment-tasks {

  li {
    border-top: 1px solid $beige;
    position: relative;
    overflow: hidden;

    &.checked {

      label {
        color: rgba($black, 0.5);
      }
    }
  }

  .icon-checkbox,
  .icon-checkmark {
    @include box-sizing(border-box);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    padding: 12px 0 0 0;
    border-right: 1px solid $beige;
    text-align: center;
    color: $beige;
    cursor: pointer;
    background-color: $white;
  }

  .icon-checkmark {
    color: $green;
  }

  .icon-delete {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 15px;
    color: rgba($black, 0.5);
  }

  label {
    display: block;
    font-size: em(14);
    padding: 10px 15px;
    margin: 0 0 0 50px;
  }

  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    left: 100%;
    bottom: 100%;
  }
}

.attachment-location {

  .location-map-canvas {
    display: block;
    height: 260px;
  }
}

.attachment-link {
  @include clearfix;
  position: relative;
  padding: 15px 20px;

  a {
    color: $black;
  }
}

.attachment-link-thumb {
  height: 155px;
  float: left;
  margin: 0 30px 0 0;
}

.attachment-link-title {
  font-size: em(18);
  font-weight: 600;
  margin: 10px 0;
}

.attachment-link-description {
  font-size: em(14);
  max-height: 63px;
  overflow: hidden;
  margin: 10px 0;
}

.attachment-link-url {
  font-size: em(14);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid tint($black, 90%);
  display: inline-block;
}

.attachment-timestamp {
  @include clearfix;
  color: tint($black, 20%);
  border-top: 1px solid $beige;
  padding: 15px 20px;
  white-space: nowrap;

  .icon {
    float: left;
    width: 48px;
    height: 48px;
    margin: 0 10px 0 0;
  }

  em {
    font-style: normal;
    font-size: em(14);
  }

  strong {
    display: block;
    font-size: em(18);
    font-weight: 600;
  }
}

.attachment-timestamp-date {
  float: left;
}

.attachment-timestamp-time {
  float: right;
}
