.conversation {
  margin: 0 20px;

  &.has-summary {

    .conversation-header {
      border-radius: 0;
    }

    .summary {
      height: auto;
    }

    .messages,
    .message-form {
      display: none;
    }
  }

  &.is-replying {

    .messages {
      padding-bottom: 360px;
    }

    .message-form {
      height: 360px;
    }

    .message-form-input {
      color: $black;
      @include transition(all 0.2s);
    }

    .message-form-actions {
      opacity: 1;
      bottom: 20px;
    }
  }
}

.conversation-header {
  @include clearfix;
  position: relative;
  overflow: hidden;
  z-index: $zindex-conversation;
  box-shadow: 0 1px 2px rgba($black, 0.1);
  background-color: $white;
  border-radius: 0 0 3px 3px;
}

.conversation-title {
  float: left;
  font-size: em(24);
  font-weight: 500;
  margin: 17px 20px;
  border: 0;
  padding: 0;
  outline: 0;
}

.conversation-participants {
  float: right;
  margin: 20px;

  li {
    float: left;
    margin: 0 0 0 10px;
  }

  img {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.conversation-summary-btn {
  float: right;
  width: 80px;
  line-height: 70px;
  text-align: center;
  background-color: $green;
  cursor: pointer;

  .icon {
    color: $white;
    padding: 10px;
    border: 1px solid rgba($black, 0.2);
    border-radius: 50%;
  }
}
