.message-form {
  @include box-sizing(border-box);
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: $zindex-message-form;
  width: 100%;
  padding: 0 0 0 280px;
  background-color: $white;
  box-shadow: 0 -2px rgba($black, 0.1);

  &.focus {

    .caret {
      opacity: 1;
    }
  }
}

.message-form-wrap {
  position: relative;
  margin: 0 0 0 90px;
  height: 100%;
}

.message-form-user-image {
  @extend .message-user-image;
  top: 10px;
}

.message-form-input {
  @include box-sizing(border-box);
  border: 0;
  outline: 0;
  margin: 0;
  padding: 20px 20px 20px 0;
  width: 100%;
  height: 60px;
  line-height: 20px;
  font-size: em(14);
  background: transparent;
  color: shade($white, 40%);
  resize: none;
  @include transition(all 0.2s);
}

.message-form-actions {
  position: absolute;
  right: 20px;
  bottom: -50px;
  opacity: 0;
  @include transition(all 0.2s);
}
