.message-form {
  @include box-sizing(border-box);
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: $zindex-message-form;
  width: 100%;
  padding: 0 0 0 280px;
}

.message-form-wrap {
  position: relative;
  padding: 30px 30px 30px 90px;
  background-color: $white;
  box-shadow: 0 -2px rgba($black, 0.1);
  height: 100%;
}

.message-form-user-image {
  @extend .message-user-image;
  left: 30px;
  top: 20px;
}

.message-form-input {
  @include box-sizing(border-box);
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0 120px 0 0;
  width: 100%;
  overflow: hidden;
  line-height: 20px;
  font-size: em(14);
  background: transparent;
  color: shade($white, 40%);
  resize: none;
  @include transition(color 0.2s);
}

.message-form-actions {
  position: absolute;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  @include transition(all 0.2s);
}
