.summary {
  @include box-sizing(border-box);
  background-color: $white;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px rgba($black, 0.1);
  height: 0;
  overflow: hidden;
}

.summary-message {
  border-bottom: 1px solid $beige;

  &:last-of-type {
    border-bottom: 0;
  }
}