.summary {
  @extend .conversation;
}

.summary-header {
  @extend .conversation-header;
  border-radius: 0 0 3px 0;
  box-shadow: none;
}

.summary-title {
  @extend .conversation-title;
}

.summary-participants {
  @extend .conversation-participants;
}

.summary-conversation-btn {
  @extend .conversation-summary-btn;
}

.summary-messages {
  background-color: $white;
  margin: 0 80px 0 0;
}

.summary-message {
  border-top: 1px solid $beige;
}
