.button {
  border: 0;
  outline: 0;
  margin: 0;
  display: inline-block;
  padding: 5px 15px;
  background-color: $green;
  color: $white;
  font-size: em(12);
  line-height: 20px;
  border-radius: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  @include transition(background-color 0.2s);

  .icon {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 8px 0 0;
  }

  &:hover {
    background-color: shade($green, 10%);
  }

  &.btn-secondary {
    background-color: $beige;
    color: $black;

    .icon {
      color: $green;
    }

    &:hover {
      background-color: shade($beige, 5%);
    }
  }
}
