.caret {
  position: relative;
  top: 2px;
  z-index: 100;
  @include transition(all 0.2s);
}

.caret-actions {
  position: absolute;
  background-color: $black;
  border-radius: 20px;
  top: 25px;
  left: -18px;
  @include clearfix;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -3px;
    background-color: $black;
    width: 6px;
    height: 6px;
    @include transform(rotate(45deg));
  }

  span {
    float: left;
    padding: 0 5px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: em(12);
    font-weight: 700;
    line-height: 20px;
    color: $white;

    &:last-of-type {
      font-size: em(16);
      margin: -2px 0 0 -4px;
    }

    &:hover {
      color: rgba($white, 0.8);
    }
  }
}
