.mentions {
  position: relative;
  width: 240px;

  input[type=text] {
    position: absolute;
    left: 0;
    bottom: -18px;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    background-color: transparent;
    width: 100%;
    height: 20px;
    font-size: em(14);
  }

  ul {
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    overflow: hidden;
    background-color: tint($black, 10%);
    border-radius: 5px;
  }

  li {
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid $black;
    font-size: em(12);
    color: $white;
    padding: 8px 10px;
    cursor: pointer;

    &:last-of-type {
      border-bottom: 0;
    }

    &.active, &:hover {
      background-color: $black;
    }

    span {
      float: right;
      color: rgba($white, 0.25);
    }
  }

  img {
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 5px 0 0;
  }
}
