.uploader {
  @include box-sizing(border-box);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  cursor: pointer;

  input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.uploader-drop-area {
  @include box-sizing(border-box);
  height: 100%;
  border: 1px dashed rgba($black, 0.2);
  border-radius: 3px;
  @include transition(all 0.2s);

  &:hover, &.hover {
    border-color: rgba($black, 0.4);

    .uploader-status {
      background: $white;
      color: $black;
    }
  }
}

.uploader-status {
  width: 180px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1;
  display: table;
  padding: 20px 0;
  background: rgba($white, 0.8);
  border-radius: 3px;
  font-size: em(12);
  color: $black;
  @include transition(all 0.2s);
}
